<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagina 2</h1>

    <a href="../index.html">Pagina 1</a>

    <h2>Bienvenidos a la pagina 2</h2>
    <br>
    <blockquote>
        Lorem ipsum <span class="color">dolor</span> sit amet, consectetur adipiscing elit. 
        Vivamus volutpat rutrum felis a commodo. Sed nec tortor vitae risus mattis rutrum ac luctus magna. 
        Nulla erat quam, interdum sit amet purus tristique, hendrerit laoreet sem. Fusce ac ante tempor ligula ultrices luctus in sed turpis. 
        Integer eget eros vestibulum, eleifend ipsum a, pulvinar velit. In nec lorem massa. Aenean ut sapien viverra leo suscipit mattis. 
        Curabitur imperdiet arcu quis mauris convallis, non rutrum sem feugiat. Nunc vitae nibh eget nisl sodales fringilla eu in urna. 
        Morbi a maximus odio, dictum tempus dui. Cras non tortor elit.
    </blockquote>
    <hr>
    <p>pagina creado por <cite>Rodolfo</cite> </p>
</body>
</html>