<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Pagina 4</h1>

    <a href="../index.html">Pagina 1</a>

    <table>
        <caption>
            Título de la tabla
        </caption>
        <thead>
            <tr>
                <th>columna 1</th>
                <th>columna 2</th>
                <th>columna 3</th>
            </tr>  
        </thead>
        <tbody>
            <tr>
                <td colspan="3">Datos adicionales</td>
            </tr>            
            <tr>
                <td>Celda 1x1</td>
                <td>Celda 2x1</td>
                <td>Celda 3x1</td>  
            </tr>
            <tr>
                <td>Celda 1x2</td>
                <td>Celda 2x2</td>
                <td>Celda 3x2</td>
            </tr>        
        </tbody>
        <tfoot>
            <tr>
                <td>Pie 1x2</td>
                <td>Pie 2x2</td>
                <td>Pie 3x2</td>
            </tr>              
        </tfoot>
        <colgroup>
            <col style="background:red">
            <col span="2" style="background:yellow">
          </colgroup>
    </table>

    
</body>
</html>